{% load staticfiles %}

<div class="ui grid">
	<div class="three wide column"></div>
	<div class="ten wide column">
		<div class="ui raised segment">
			<div>
				<div class="ui horizontal divider">Mi perfil</div>	
				<div class="ui grid">
					<div class="one wide column"></div>
					<div class="four wide column">
						<div class="ui segment">
							<div>
								<img class="ui medium image" src="{% static "img/image.png" %}">
							</div>
							<div class="ui divider"></div>
							<div>
								<span>Nombre<span>
								<span style="float:right"><i class="warning circle icon"></i></span>
							</div>
							<div>Lugar</div>
						</div>
					</div>
					<div class="one wide column"></div>
					<div class="four wide column">
						<div class="ui segment">
							<div>
								<img class="ui medium image" src="{% static "img/image.png" %}">
							</div>
							<div class="ui divider"></div>
							<div>
								<span>Nombre<span>
								<span style="float:right"><i class="warning circle icon"></i></span>
							</div>
							<div>Lugar</div>
						</div>
					</div>
					<div class="one wide column"></div>
					<div class="four wide column">
						<div class="ui segment">
							<div>
								<img class="ui medium image" src="{% static "img/image.png" %}">
							</div>
							<div class="ui divider"></div>
							<div>
								<span>Nombre<span>
								<span style="float:right"><i class="warning circle icon"></i></span>
							</div>
							<div>Lugar</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="one wide column"></div>
</div>

