{% load staticfiles %}

<div class="ui form">
	<div class="ui grid">
		<div class="six wide column"></div>
		<div class="four wide column">
			<div class="ui raised segment">
				<div class="field">
					<img class="ui small centered image" src="{% static "img/group.png" %}">
				</div>
				<div class="field">
					<div class="ui input">
						<input type="text" placeholder="Nombre/Institución">
					</div>
				</div>
				<div class="field">
					<div class="ui input">
						<input type="text" placeholder="Correo Electrónico">
					</div>
				</div>
				<div class="field">
					<div class="ui input">
						<input type="text" placeholder="Contraseña">
					</div>
				</div>
				<div class="field">
					<div class="ui input">
						<input type="text" placeholder="Reescriba Contraseña">
					</div>
				</div>
				<div class="field">
					<div>
						<div class="ui fluid button">
						  Registrar
						</div>
				</div>
			</div>	
		</div>
		<div class="six wide column"></div>
	</div>
</div>