{% load staticfiles %}
	<div class="ui page grid">
		<div class="one wide column"></div>
		<div class="fourteen wide column">
			<div class="ui raised segment">
				<div class="ui divided grid">
					<div class="eight wide column">
						<h2>
							Nombre
						</h2>
						<div class="ui divider"></div>
						<div class="ui segment">
							<div class="description">Descripción</div>
							<div class="description-item">
								<span>Sexo: </span>
								<span>Hombre</span>
							</div>
							<div class="description-item">
								<span>Fecha de nacimiento: </span>
								<span>dd/mm/yyyy</span>
							</div>
							<div class="description-item">
								<span>Estado/Provincia: </span>
								<span>Jalisco</span>
							</div>
							<div class="description-item">
								<span>Ciudad: </span>
								<span>Guadalajara</span>
							</div>
							<div class="description-item">
								<span>Fecha de extravio: </span>
								<span>dd/mm/yyyy</span>
							</div>
						</div>
					</div>
					<div class="eight wide column">
						<div class="ui segment">
							<img class="ui medium centered image" src="{% static "img/image.png" %}">
						</div>
						<div class="ui segment">
							<div class="ui tiny images">
								<img class="ui image" src="{% static "img/image.png" %}">
								<img class="ui image" src="{% static "img/image.png" %}">
								<img class="ui image" src="{% static "img/image.png" %}">
								<img class="ui image" src="{% static "img/image.png" %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="one wide column"></div>
	</div>

	<div class="ui page grid">
		<div class="one wide column"></div>
		<div class="fourteen wide column">
			<div class="ui raised segment">
				<div class="comment">
					<img class="ui middle aligned mini image" src="{% static "img/image.png" %}">
					<span>Nombre</span>
					<span>dd/mm/yyyy</span>
					<span>mm:hh</span>
					<br>
					<span>Comment</span>
				</div>
				<div class="comment">
					<img class="ui middle aligned mini image" src="{% static "img/image.png" %}">
					<span>Nombre</span>
					<span>dd/mm/yyyy</span>
					<span>mm:hh</span>
					<br>
					<span>Comment</span>
				</div>
				<div class="comment">
					<img class="ui middle aligned mini image" src="{% static "img/image.png" %}">
					<span>Nombre</span>
					<span>dd/mm/yyyy</span>
					<span>mm:hh</span>
					<br>
					<span>Comment</span>
				</div>
				<div class="ui form">
					<div class="field">
						<label>Escribe un comentario</label>
						<textarea></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="one wide column"></div>
	</div>