<footer>
		<div class="ui grid">
			<div class="sixteen wide column">
				<div class="ui center aligned segment">
					<a href="/modules/dropdown.html">Home </a> &nbsp; | &nbsp;
					<a href="/modules/dropdown.html">¿Qué hacer? </a> &nbsp; | &nbsp;
					<a href="/modules/dropdown.html">¿Cómo denunciar? </a> &nbsp; | &nbsp;
					<a href="/modules/dropdown.html">Contacto </a> &nbsp; | &nbsp;
					<a href="/modules/dropdown.html">Acerca de</a> &nbsp; | &nbsp;
					©2015 VPMP
				</div>
			</div>
			<div class="two wide column">
			</div>
		</div>
	</footer>