<header>
		<div class="ui teal large inverted menu">
			<a class="ui item" href="#/">
				<i class="group icon"></i> VPMP
			</a>
			<a class="item" href="#/">
				<i class="home icon"></i> Inicio
			</a>
			<a class="item" href="#/user/1">
				<i class="user icon"></i> Perfil
			</a>
			<a class="item" href="#/report/">
				<i class="add circle icon"></i> Generar reporte
			</a>
			<div class="right menu">
				<div class="item">
					<div class="ui fluid icon input">
						<input type="text" placeholder="Buscar...">
						<i class="search link icon"></i>
					</div>
				</div>
				<a class="ui item" href="#/login">
					Iniciar Sesión
				</a>
				<a class="ui item" href="#/register">
					Registrarse
				</a>
			</div>
		</div>

	</header>