<!DOCTYPE html>
<html >
<head>
	<title></title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/semantic.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

</head>
<body>
	<header>
		VPMP
	</header>

	<div>Content</div>

	<footer>
		VPMP 
	</footer>
	<script type="text/javascript" src="{% static "js/semantic.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/general.js" %}"></script>
</body>
<html>