<div class="ui stackable grid" ng-controller="IndexCtrl" ng-init="filterReports(filter)">
	<div class="three wide column">
		<div class="ui raised teal segment">
			<h2>Buscar por:</h2>
			<div class="ui form">
				<div class="field">
					<label>Estatus</label>
					<select ng-model="filter.status" ng-change="filterReports(filter)">
						<option value="">Seleccionar</option>
						<option value="encontrado">Encontrado</option>
						<option value="perdido">Perdido</option>
						<option value="albergue">Albergue</option>
					</select>
				</div>
				<div class="field">
					<label>Fecha de extravío</label>
					<input id="date_filter" type="text" ng-model="filter.missing_date" ng-change="filterReports(filter)">
				</div>
				<div class="field">
					<label>Estado</label>
					<select ng-model="filter.state" ng-change="filterReports(filter)">
						<option value="" selected>Seleccionar</option>
						<option value="aguascalientes">Aguascalientes</option>
						<option value="baja california">Baja California</option>
						<option value="baja california sur">Baja California Sur</option>
						<option value="campeche">Campeche</option>
						<option value="coahuila">Coahuila</option>
						<option value="colima">Colima</option>
						<option value="chiapas">Chiapas</option>
						<option value="chihuahua">Chihuahua</option>
						<option value="distrito federal">Distrito Federal</option>
						<option value="durango">Durango</option>
						<option value="estado de mexico">Estado de México</option>
						<option value="guanajuato">Guanajuato</option>
						<option value="guerrero">Guerrero</option>
						<option value="hidalgo">Hidalgo</option>
						<option value="jalisco">Jalisco</option>
						<option value="michoacan">Michoacán</option>
						<option value="morelos">Morelos</option>
						<option value="nayarit">Nayarit</option>
						<option value="nuevo leon">Nuevo León</option>
						<option value="oaxaca">Oaxaca</option>
						<option value="puebla">Puebla</option>
						<option value="queretaro">Querétaro</option>
						<option value="quintana roo">Quintana Roo</option>
						<option value="san luis potosi">San Luis Potosí</option>
						<option value="sinaloa">Sinaloa</option>
						<option value="tabasco">Tabasco</option>
						<option value="tamaulipas">Tamaulipas</option>
						<option value="tlaxcala">Tlaxcala</option>
						<option value="veracruz">Veracruz</option>
						<option value="yucatan">Yucatán</option>
						<option value="zacatecas">Zacatecas</option>
					</select>
				</div>
				<div class="field">
					<label>Sexo</label>
					<select ng-model="filter.gender" ng-change="filterReports(filter)">
						<option value="">Seleccionar</option>
						<option value="mujer">Mujer</option>
						<option value="hombre">Hombre</option>
					</select>
				</div>
				<div class="field">
					<label>Edad desde</label>
					<select ng-model="filter.lower_age" ng-change="filterReports(filter)">
						<option value="" selected>Seleccionar</option>
						<option ng-repeat="n in [] | range:1:100" value="{{n}}">{{n}}</option>
						<option value="101">100 o más</option>
					</select>
				</div>
				<div class="field">
					<label>Edad hasta</label>
					<select ng-model="filter.higher_age" ng-change="filterReports(filter)">
						<option value="" selected>Seleccionar</option>
						<option ng-repeat="n in [] | range:1:100" value="{{n}}">{{n}}</option>
						<option value="101">100 o más</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="twelve wide column">
		<div class="ui raised teal segment">
			<div>
				<!--<div class="ui horizontal divider">dd/mm/yyyy</div>	-->
				<div class="ui stackable grid">
					<div class="four wide column" ng-repeat="report in reports">
						<a class="report-link" href="#/report/{{report.id}}">
							<div class="ui segment">
								<div>
									<img id="image_{{report.id}}" class="ui medium image" src="{{report.image}}">
								</div>
								<div class="ui divider"></div>
								<div>
									<span>{{report.name_subject}}<span>
									<span style="float:right"><i class="warning circle icon"></i></span>
								</div>
								<div>{{report.city}}, {{report.state}}</div>
							</div>
						</a>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="one wide column"></div>
</div>
<script>
	$(function() {
		$( "#date_filter" ).datepicker({ dateFormat: 'yy-mm-dd' });
	});
	$('.ui.dropdown').dropdown();
</script>