<div class="ui form">
	<div class="ui stackable grid">
		<div class="six wide column"></div>
		<div class="four wide column">
			<div class="ui raised center align segment">
				<div class="field">
					<img class="ui small centered image" src="static/img/group.png">
				</div>
				<div class="field">
					<div class="ui input">
						<input type="email" placeholder="Correo Electrónico" required>
					</div>
				</div>
				<div class="field">
					<div class="ui input">
						<input type="text" placeholder="Contraseña" required>
					</div>
				</div>
				<div class="field">
					<div class="ui fluid button">
					  Entrar
					</div>
				</div>
			</div>	
		</div>
		<div class="six wide column"></div>
	</div>
</div>