<div class="ui stackable grid" ng-controller="ProfileCtrl">
	<div class="three wide column"></div>
	<div class="ten wide column">
		<div class="ui raised segment">
			<div>
				<div class="ui horizontal divider">Mi perfil</div>	
				<div class="ui grid">
					<div class="four wide column" ng-repeat="report in reports">
						<a class="report-link" href="#/report/{{report.id}}">
							<div class="ui segment">
								<div>
									<img class="ui medium image" src="static/img/image.png">
								</div>
								<div class="ui divider"></div>
								<div>
									<span>{{report.name_subject}}<span>
									<span style="float:right"><i class="warning circle icon"></i></span>
								</div>
								<div>{{report.city}}, {{report.state}}</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="one wide column"></div>
</div>

