<div ng-controller="ReportCtrl">
	<div class="ui stackable grid">
		<div class="one wide column"></div>
		<div class="fourteen wide column">
			<div class="ui raised segment">
				<div class="ui stackable divided grid">
					<div class="eight wide column">
						<h2>
							{{report.name_subject}}
						</h2>
						<div class="ui divider"></div>
						<div class="ui segment">
							<div class="description">{{report.description}}</div>
							<div class="description-item">
								<span>Sexo: </span>
								<span>{{report.gender}}</span>
							</div>
							<div class="description-item">
								<span>Fecha de nacimiento: </span>
								<span>{{report.birth_date}}</span>
							</div>
							<div class="description-item">
								<span>Estado/Provincia: </span>
								<span>{{report.state}}</span>
							</div>
							<div class="description-item">
								<span>Ciudad: </span>
								<span>{{report.city}}</span>
							</div>
							<div class="description-item">
								<span>Fecha de extravio: </span>
								<span>{{report.missing_date}}</span>
							</div>
						</div>
					</div>
					<div class="eight wide column">
						<div class="ui segment">
							<img class="ui medium centered image" src="static/img/image.png">
						</div>
						<div class="ui segment">
							<div class="ui tiny images">
								<img class="ui image" src="static/img/image.png">
								<img class="ui image" src="static/img/image.png">
								<img class="ui image" src="static/img/image.png">
								<img class="ui image" src="static/img/image.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="one wide column"></div>
	</div>

	<div class="ui stackable grid">
		<div class="one wide column"></div>
		<div class="fourteen wide column">
			<form class="ui form" ng-submit="createComment(comment)">
				<div class="ui raised segment">
					<div class="comment" ng-repeat="comment in comments">
						<img class="ui middle aligned mini image" src="static/img/image.png">
						<span>{{comment.comment_date}}</span>
						<br>
						<span>{{comment.content}}</span>
					</div>
					<div class="ui form">
						<div class="field">
							<label>Escribe un comentario</label>
							<textarea data-ng-model="comment.content"></textarea>
						</div>
						<div class="field">
							<button class="ui right primary button" style="float:right">Enviar comentario</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="one wide column"></div>
	</div>
</div>