<div class="ui page grid" ng-controller="AddReportCtrl">
	<div class="one wide column"></div>
	<div class="seven wide column">
		<div class="ui raised segment">
			<form class="ui form" ng-submit="insertReport(report)">
				<div class="ui grid">
					<div class="eight wide column">
						<div class="field">
							<label>Estatus</label>
							<select class="ui dropdown" data-ng-model="report.status">
								<option value="">Seleccionar</option>
								<option value="encontrado">Encontrado</option>
								<option value="perdido">Perdido</option>
								<option value="albergue">Albergue</option>
							</select>
						</div>
					</div>
					<div class="eight wide column">
						<div class="field">
							<label>Sexo</label>
							<select class="ui dropdown" data-ng-model="report.gender">
								<option value="">Seleccionar</option>
								<option value="mujer">Mujer</option>
								<option value="hombre">Hombre</option>
							</select>
						</div>
					</div>
					<div class="eight wide column">
						<div class="field">
							<label>Fecha de extravío</label>
							<input type="date" data-ng-model="report.missing_date">
						</div>
					</div>
					<div class="eight wide column">
						<div class="field">
							<label>Nombre</label>
							<input type="text" data-ng-model="report.name_subject">
						</div>
					</div>
					<div class="eight wide column">
						<div class="field">
							<label>Fecha de nacimiento</label>
							<input type="date" data-ng-model="report.birth_date">
						</div>
					</div>
					<div class="eight wide column">
						<div class="field">
							<label>Estado/Provincia</label>
							<select class="ui dropdown" data-ng-model="report.state">
								<option value="">Seleccionar</option>
								<option value="aguascalientes">Aguascalientes</option>
								<option value="baja california">Baja California</option>
								<option value="baja california sur">Baja California Sur</option>
								<option value="jalisco">Jalisco</option>
								<option value="nayarit">Nayarit</option>
							</select>
						</div>
					</div>
					<div class="eight wide column">
						<div class="field">
							<label>Ciudad</label>
							<input type="text" data-ng-model="report.city">
						</div>
					</div>
					<div class="eight wide column">
						<div class="field">
							<label>Detalles</label>
							<textarea data-ng-model="report.description"></textarea>
						</div>
					</div>
					<div class="eight wide column">
						<div class="field">
							<label>User ID</label>
							<input type="text" data-ng-model="report.user_fk">
						</div>
					</div>
					<div class="eight wide column">
					
						<div class="field">
							<button class="ui button">
							  Reportar
							</button>
						</div>
					</div>
					
				</div>
			</form>
		</div>
	</div>
	<div class="six wide column">
		<div class="ui segment">
			<img class="ui big centered image" src="static/img/image.png">
		</div>
	</div>
</div>