.container{
	margin: 3em 0em;
}

.description-item{
	margin: 1em 0;
}

.description-item > span:first-child{
	font-weight: bold;
}

.comment{
	padding: 1em;
}

.report-link{
	color: black !important;
}